.left-box h3{
      font-size: 19px;
      color: #425365;
      font-weight: 600;
      margin-left: 0 !important;
    }

  .right-box h4{
      font-size: 20px;
      color: #425365;
      font-weight: 600;
      margin: 20px 0 10px;
    }


